body{
  min-height: 100vh;
  position: relative;
  /* padding-bottom: 100px; */
  padding :100px 0;
  height: auto;
}

.box{
  background-color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

header > div{
  font-weight: bold;
  font-size: 30px;
}

header{
  position: absolute;
  top: 0;
}

main{
  /* padding: 150px 100px 100px; */
  /* min-height: 100vh; */
  padding: 0 100px;
}

footer{
  position: absolute;
  bottom: 0;
}